.app-container {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  border: solid 5px;
  background-color: transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    45deg,
    #e44dd0,
    #3414c5,
    #3acbd5,
    #5ed53a
  );
  overflow: auto;
}
.one {
  position: relative;
  z-index: -1;
  height: 100vh;
  width: 100%;
  background-color: black;
}

.two {
  position: relative;
  z-index: -1;
  height: 100vh;
  width: 100%;
  background-color: black;
}
